[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
kafka = "*"
kerlescan = {editable = true,git = "https://github.com/beav/kerlescan.git"}
requests = "*" # remove this
prometheus-client = "*"
watchtower = "*"
logstash-formatter = "*"
psycopg2 = "*"
